<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>Jenkins &lt;jenkins@{{ jenkins_web_url }}&gt;</adminAddress>
  <jenkinsUrl>http://{{ jenkins_web_url }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>