---
- name: Update aptitude cache
  apt: update_cache=yes

- name: Install depends
  package: name={{ item }} state=present
  with_items:
    - python
    - python-dev
    - python-virtualenv
    - gcc
    - dialog
    - libaugeas0
    - libssl-dev
    - libffi-dev
    - ca-certificates
    - python-pip
    - git

- name: Install virtualenv
  package: name={{ item }} state=present
  become: yes
  with_items:
    - "{{ virtualenv_package_name }}"

- name: Install python depends
  pip: virtualenv="{{ letsencrypt_venv }}" virtualenv_site_packages=no name={{ item }} state=latest virtualenv_python=python2
  with_items:
    - setuptools
    - pip

- name: More python depends
  pip: virtualenv="{{ letsencrypt_venv }}" virtualenv_site_packages=no name=letsencrypt state=latest

- name: Ensure webroot exists
  file: path="{{ letsencrypt_webroot_path }}" state=directory

- name: Attempt to get the certificate using the webroot authenticator
  command: "{{ letsencrypt_command }} -a webroot --webroot-path {{ letsencrypt_webroot_path }} certonly"
  args:
    creates: "/etc/letsencrypt/live/{{ letsencrypt_cert_domains[0] }}"
  when: letsencrypt_authenticator == "webroot"
  ignore_errors: True

- name: Stop nginx
  service: name=nginx state=stopped

- name: Attempt to get the certificate using the standalone authenticator (in case eg the webserver isn't running yet)
  command: "{{ letsencrypt_command }} -a standalone auth"
  args:
    creates: "/etc/letsencrypt/live/{{ letsencrypt_cert_domains[0] }}"

- name: Start nginx
  service: name=nginx state=started

- name: Fix the renewal file
  ini_file: section=renewalparams option={{ item.key }} value={{ item.value }} dest="/etc/letsencrypt/renewal/{{ letsencrypt_cert_domains[0] }}.conf"
  with_dict:
    os_packages_only: False
    verb: certonly
    noninteractive_mode: False
    uir: False
    hsts: False
    authenticator: '{{ letsencrypt_authenticator }}'

- name: Fix the webroot map in the renewal file
  ini_file: section="[webroot_map]" option={{ item }} value={{ letsencrypt_webroot_path }} dest="/etc/letsencrypt/renewal/{{ letsencrypt_cert_domains[0] }}.conf"
  with_items: "{{ letsencrypt_cert_domains }}"

- name: Install renewal cron
  cron: name="Let's Encrypt Renewal" day="{{ letsencrypt_renewal_frequency.day }}" hour="{{ letsencrypt_renewal_frequency.hour }}" minute="{{ letsencrypt_renewal_frequency.minute }}" job="{{ letsencrypt_venv }}/bin/letsencrypt renew {{ letsencrypt_renewal_command_args }} > /dev/null && service nginx reload  > /dev/null 2>&1"