---
- name: Install php-fpm and deps 
  apt: name={{ item }} state=present
  with_items:
    - "{{ php_distr }}-cli"
    - "{{ php_distr }}-fpm"
    - "{{ php_distr }}-mysql"
    - "{{ php_distr }}-gd"
    - "{{ php_distr }}-curl"

- name: Install extra extensions
  apt: name={{ item }} state=present
  with_items:
      - "{{ php_distr }}-xml"
      - "{{ php_distr }}-mbstring"
      - "{{ php_distr }}-zip"
  when: php_version == 7

- name: Change memory limit
  replace:
    dest={{ item }}
    regexp="memory_limit = .+"
    replace="memory_limit = {{ php_memory_limit }}"
  notify: restart php-fpm
  with_items:
    - "{{ php_intsall_path }}/cli/php.ini"
    - "{{ php_intsall_path }}/fpm/php.ini"

- name: Change upload max filesize
  replace:
    dest={{ item }}
    regexp="upload_max_filesize = .+"
    replace="upload_max_filesize = {{ php_upload_max_filesize }}"
  notify: restart php-fpm
  with_items:
    - "{{ php_intsall_path }}/cli/php.ini"
    - "{{ php_intsall_path }}/fpm/php.ini"

- name: Change post max filesize
  replace:
    dest={{ item }}
    regexp="post_max_size = .+"
    replace="post_max_size = {{ php_upload_max_filesize }}"
  notify: restart php-fpm
  with_items:
    - "{{ php_intsall_path }}/cli/php.ini"
    - "{{ php_intsall_path }}/fpm/php.ini"

- name: Change max execution time
  replace:
    dest={{ item }}
    regexp="max_execution_time = .+"
    replace="max_execution_time = {{ php_max_execution_time }}"
  notify: restart php-fpm
  with_items:
    - "{{ php_intsall_path }}/cli/php.ini"
    - "{{ php_intsall_path }}/fpm/php.ini"

- name: Change max execution time
  replace:
    dest={{ item }}
    regexp=";request_terminate_timeout = .+"
    replace="request_terminate_timeout = {{ php_max_execution_time }}"
  notify: restart php-fpm
  with_items:
    - "{{ php_intsall_path }}/fpm/pool.d/www.conf"

- name: Change max input time filesize
  replace:
    dest={{ item }}
    regexp="max_input_time = .+"
    replace="max_input_time = {{ php_max_input_time }}"
  notify: restart php-fpm
  with_items:
    - "{{ php_intsall_path }}/cli/php.ini"
    - "{{ php_intsall_path }}/fpm/php.ini"

- name: Set date timezone
  replace:
    dest={{ item }}
    regexp="(.|)date.timezone =(.+|)"
    replace="date.timezone = {{ php_date_timezone }}"
  notify: restart php-fpm
  with_items:
    - "{{ php_intsall_path }}/cli/php.ini"
    - "{{ php_intsall_path }}/fpm/php.ini"