---
- name: Intsall fail2ban
  apt: name=fail2ban state=present

- name: Copy fail2ban configuration
  template: src=jail{{ ansible_distribution_version }}.local.j2 dest=/etc/fail2ban/jail.local
  notify: restart fail2ban
